.maincontainer{
  /* background-color: aqua; */
  margin-top: 2rem;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo{
  background-image: url("../assets/Logo.png");
  width: 149px;
  height: 37px;
  /* margin-right: 16px; */
}
a{
  text-decoration: none;
}
.navitemlink{
  color: #4F5665;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 16px;
}
.signin{
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
color: #0B132A;
margin-right: 16px;
}
.signup{
padding: 13px;
color: #F53855;
border: 1px solid #F53855;
border-radius: 3rem;
}