.mainplan{
  background-color: rgb(230, 228, 228);
  margin-top: 5rem;
}
.planeheader{
  text-align: center;
  margin-top: 5rem;
  background-color: rgb(230, 228, 228);
}
.mainplan .planeheader h2{
  margin-top: 5rem;
  padding-top: 5rem;
}
.allPlans{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.plancontainer{
  height: 680px;
  width: 330px;
  background-color: white ;
  margin-top: 5rem;
  margin-left: 5rem;
  border: 1px solid gainsboro;
  border-radius: 0.8rem;
  margin-bottom: 5rem;
}
.plancontainerlast{
  height: 680px;
  width: 330px;
  background-color: white ;
  margin-top: 5rem;
  margin-left: 5rem;
  border: 1px solid #F53855;
  border-radius: 0.8rem;
  margin-bottom: 5rem;
}
.plan{
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
gap: 2rem;
}
.planimage{
  height: 165px;
  width: 145px;
  background-image: url("../assets/Illustration/Free.png");
  margin-top: 3rem;
}
.planimage2{
  height: 165px;
  width: 145px;
  background-image: url("../assets/Illustration/Standard.png");
  margin-top: 3rem;
}
.planimage3{
  height: 165px;
  width: 145px;
  background-image: url("../assets/Illustration/Premium.png");
  margin-top: 3rem;
}
.plan ul li{
  margin-top: 1rem;
  color: #4F5665;
}
.plan a{
  width: 10rem;
  text-align: center;
  /* background-color: #4F5665; */
  color: #F53855;
  padding: 0.8rem;
  border: 1px solid #F53855;
  border-radius: 1.5rem;
}
.plancontainerlast a{
  width: 10rem;
  text-align: center;
  background-color: #F53855;
  color: white;
  padding: 0.8rem;
  border: 1px solid #F53855;
  border-radius: 1.5rem;
}
.planvaluse1{
  margin-top: 3.7rem;
}
.planvaluse2{
  margin-top: 2rem;
}